doctype html
html.
  <head>

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li id="welcome"><a href = "/welcome">Welcome</a></li>
                <li id="home"><a href="/" onclick="selectTab("home")">Home</a></li>
                <li class="dropdown"><a id="user"class="dropdown-toggle" data-toggle="dropdown" href="#">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/login">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.2/angular-cookies.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPWzKLkH_TcLKa1yDs6oIZeQQdZ7Y8v0A"></script>
    <script src="../javascript/location.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <meta charset="UTF-8">
    <title>#{title}</title>

  </head>

  <body ng-app="myApp">
      <h1>#{title}</h1>

      <div ng-controller="geoCtrl" ng-init="geoFindMe()">
          <p>
              <button ng-click="geoFindMe()">Show my location</button>
              <button ng-click="wikiGeo()">wikiGeo</button>
              <button ng-click="addMarkerPage()">Add Marker</button>
              <button ng-click="showMarkers()">Show Markers</button><br>

              <div id="out"></div>
              <div id="map"></div>
          </p>

          <p>
              <img id="wikiImage" src="">
              <div id="wikiResult"></div>
          </p>

          <p>
              <div id="wikiGeoResult">
                  <table>
                      <th style="width:30px" style="text-align:center">Label</th>
                      <th style="width:500px">Title</th>
                      <th style="width:130px">Latitude</th>
                      <th style="width:130px">Longitude</th>
                      <tr ng-repeat="query in queries">
                          <td style="text-align:center">{{labels[$index]}}</td>
                          <td>{{query.title}}</td>
                          <td>{{query.lat}}</td>
                          <td>{{query.lon}}</td>
                      </tr>
                  </table>


              </div>
          </p>
      </div>


  </body>



