doctype html
html.
    <head>

      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
              <div class="container-fluid">
                  <ul class="nav navbar-nav">
                <li id="welcome"><a href = "/welcome">Welcome</a></li>
                <li id="home"><a href="/" onclick="selectTab("home")">Home</a></li>
                <li class="dropdown"><a id="user"class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/login">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.2/angular-cookies.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPWzKLkH_TcLKa1yDs6oIZeQQdZ7Y8v0A"></script>
    <script src="../../javascript/addmarker.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

      <meta charset="UTF-8">
      <title>#{title}</title>

    </head>

    <style>
      body {
          background: url('http://www.minimit.com/images/picjumbo.com_IMG_6648.jpg') no-repeat;
          background-size: cover;
        }
     body:before {
          content:"";
           display:block;
           position:fixed;
           width:100%;
           height:100%;
           left:0;
           top:0;
           z-index:-1;
           background-color: rgba(0, 0, 0, 0.3);
       }



     </style>

    <body ng-app="myApp">
        <center><font color="white"><b><h1 id="title">#{title}</h1></b></font></center>

        <div ng-controller="markerCtrl" ng-init="refreshMap()">
            <center><div id="out"></div></center>
            <center><div id="map"></div></center>


    <div class="container">
         <div class="page-header">
              <center><h3><font color="white">Enter descriptions for your tag below</font></h3></center>
          </div>
          <div class="row grid-divider">
    </div>
    </div>


    <form class="form-horizontal">
     <fieldset>

    <div class="form-group">
                 <label class="col-md-4 control-label" for="searchinput"><font color="white">Latitude</font></label>
                <font color="white"><div id="lat">#{lat}</div></font>
                </div>

    <div class="form-group">
                <label class="col-md-4 control-label" for="searchinput"><font color="white">Longitude</font></label>
                <font color="white"><div id="lng">#{lng}</div></font>
                </div>

    <div class="form-group">
            <label class="col-md-4 control-label" for="searchinput"><font color="white">Title</font></label>
            <div class="col-md-4">
              <input type="text" ng-model="markerTitle" placeholder="Title" class="form-control input-md">

            </div>
          </div>

    <div class="form-group">
            <label class="col-md-4 control-label" for="searchinput"><font color="white">Type</font></label>
            <div class="col-md-4">
              <input type="text" ng-model="markerType" placeholder="Type" class="form-control input-md">

            </div>
          </div>

    <div class="form-group">
       <label class="col-md-4 control-label" for="textarea"><font color="white">Description</font></label>
       <div class="col-md-4">
         <textarea class="form-control" ng-model="markerDescription" placeholder="Text here">Text here</textarea>
       </div>
     </div>


    <center>
        <button ng-click="save()" class="btn btn-lg btn-success">Save</button>
    </center>

    <br>
    <br>

                </fieldset>
            </form>
         </div>
     </div>
     </div>


    </body>
