doctype html
html.
    <head>

      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
              <div class="container-fluid">
                  <ul class="nav navbar-nav">
                <li id="welcome"<a href = "/welcome">Welcome</a></li>
                <li id="home"><a href="/" onclick="selectTab("home")">Home</a></li>
                <li id="about"><a href="/result">Result</a></li>
                <li class="dropdown"><a id="user"class="dropdown-toggle" data-toggle="dropdown" href="#">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/login">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.2/angular-cookies.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPWzKLkH_TcLKa1yDs6oIZeQQdZ7Y8v0A"></script>
    <script src="../javascript/addmarker.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

      <meta charset="UTF-8">
      <title>#{title}</title>

    </head>

    <body ng-app="myApp">
        <h1 id="title">#{title}</h1>

        <div ng-controller="markerCtrl" ng-init="refreshMap()">
            <div id="out"></div>
            <div id="map"></div>
            <form name="form">
                <table>
                    <col width="100">
                    <col width="300">

                    <tr>
                        <td height="30">Latitude</td>
                        <td height="30" id="lat">#{lat}</td>
                    </tr>
                    <tr>
                        <td height="30">Longitude</td>
                        <td height="30" id="lng">#{lng}</td>
                    </tr>
                    <tr>
                        <td height="30">Title</td>
                        <td height="30"><input type="text" ng-model="markerTitle"></td>
                    </tr>
                    <tr>
                        <td height="30">Type</td>
                        <td height="30"><input type="text" ng-model="markerType"></td>
                    </tr>
                    <tr>
                        <td height="100">Description</td>
                        <td height="100"><textarea rows="4" cols="50" ng-model="markerDescription"></textarea></td>
                    </tr>
                </table>
                <button ng-click="save()">Save</button>
            </form>
        </div>
    </body>
