doctype html
html.
    <head>

      <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">
      
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
              <div class="container-fluid">
                  <ul class="nav navbar-nav">
                <li id="welcome"><a href = "/welcome">Welcome</a></li>
                <li id="home"><a href="/" onclick="selectTab("home")">Home</a></li>
                <li class="dropdown"><a id="user"class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/login">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.2/angular-cookies.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPWzKLkH_TcLKa1yDs6oIZeQQdZ7Y8v0A"></script>
    <script src="../../javascript/result.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

      <meta charset="UTF-8">
      <title>#{title}</title>

    </head>
    
     <style>
           body {
               background: url('https://static.pexels.com/photos/1380/black-and-white-city-skyline-buildings.jpg')center center no-repeat;
               background-size: cover;
               color: #000;
              background-attachment: fixed;
             }
          body:before {
               content:"";
                display:block;
                position:fixed;
                width:100%;
                height:100%;
                left:0;
                top:0;
                z-index:-1;
                background-color: rgba(0, 0, 0, 0.3);
            }
            div.transbox {
                margin: 30px;
                background-color: #ffffff;
                border: 1px solid black;
                opacity: 0.6;
                filter: alpha(opacity=60);
            }
            div.transbox p {
            margin: 8%;
            color: #000000;
            }
    </style>
    

    <body ng-app="myApp">
        <center><h1 id="title" style="color:white;">#{title}</h1></center>

        <div ng-controller="resultCtrl" ng-init="initPage()">
            <p>
               <center><img id="wikiImage" src=""></center>


    <div class = transbox>
    <div class="container">
              <div class="page-header">
    <div class="row grid-divider">
        <div class="col-md-1">
              <b>Type:</b>
        </div>
        <div class="col-md-1">
            <div id="type">#{type}</div>
        </div>
        </div>
    </div>
    </div>


    <div class="container">
    <div class="col-md-12">
    <div class="row grid-divider">


        <h1><div id="title2"></div></h1>
        <p>
        <div id="description">
        </div>
        </p>

    <div id="wikiResult"></div>
    <div id="userResult"></div>
    </div>
    </div>



    </div>
    </div>
    </body>
