doctype html
html.
    <head>

      <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPWzKLkH_TcLKa1yDs6oIZeQQdZ7Y8v0A"></script>
      <script src="../javascript/location.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

      <meta charset="UTF-8">
      <title>#{title}</title>

    </head>

    <body>
        <p> This is result page </p>

    </body>