doctype html
html.
    <head>

      <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">
      
      <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Cardo:400italic' rel='stylesheet' type='text/css'>

      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      
      <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
              <div class="container-fluid">
                  <ul class="nav navbar-nav">
               <li id="welcome"><a href="/welcome">Welcome</a></li>
                <li id="home"><a href="/" onclick="selectTab("home")">Home</a></li>
                <li class="dropdown"><a id="user"class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/login">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.2/angular-cookies.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPWzKLkH_TcLKa1yDs6oIZeQQdZ7Y8v0A"></script>
    <script src="../javascript/welcome.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

      <meta charset="UTF-8">
      <title>#{title}</title>
      
      <style>
        p { text-align:center; }
        h1 { text-align:center; }
    </style>

    <style>
      H1 {
       font-family :'Montserrat', sans-serif;
       }
        p {
        font-family : Cardo;
        }
    </style>

    </head>

     <style>
           body {
               background: url('http://phandroid.s3.amazonaws.com/wp-content/uploads/2014/12/city-wallpaper-1.jpg')center center no-repeat;
               background-size: cover;
               color: #fff;
             }
          body:before {
               content:"";
                display:block;
                position:fixed;
                width:100%;
                height:100%;
                left:0;
                top:0;
                z-index:-1;
                background-color: rgba(0, 0, 0, 0.3);
            }
    </style>


    <body style="width: 100%; height: 100%;">

         <div style="top: 50%; left: 50%; position: absolute; transform: translateX(-50%) translateY(-50%);">
             <div>
                <p><i><big><big>Have you ever wondered what's around you?</big></big></i></p>
                <h1><b><big><big>WELCOME TO WIKIGEO.</big></big></b></h1>
                <p ><i><big><big>Find new places in an unfamiliar landscape. Explore the secrets of your city</i>.</big></big></p>
                <p><i><big><big>See something interesting? Mark it with WikiGeo</i>.</big></big></p>
              </div>
         </div>
    </body>
